
<body>
    <div class="justify-center booklist">
        <div class ="flex p-3 top" style="margin-top:-25px;">
           <img class="bookworm" id="bw1" src="/assets/bookworm.svg"/>
          <div> 
            <form action= "/" method="GET">
                <button style="border: none; background-color:white;"type="hidden" name="bookInfo" value="<%=title%>" onclick="this.submit().form">
                <h1> <%= title %> </h1> </button>
            </form>
        </div>
           <img class="bookworm" id="bw2"src="/assets/bookworm2.svg"/>
        </div> 

</body>
